# API
NG_APP_API_URL=http://localhost:3000/api/v1
NG_APP_WS_URL=http://localhost:3000

# Sentry
NG_APP_SENTRY_DSN=https://...@sentry.io/...
NG_APP_SENTRY_ENVIRONMENT=development

# Build
NG_APP_VERSION=0.1.0
